
<div class="row">
  <div class="post">
    <div class="post__content">
      <% @posts.each do |post| %>
      <div class="post__content__image"></div>
      <div class="post__content__main">
        <h3 class="post__content__title">
          <%= post.title %>
        </h3>
        <p class="post__content__date">
          <%= post.text %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
