<nav class="header">
  <div class="navbar">
    <div class="navbar-brand">
      <%= link_to 'iblog', '#', class: "brand-title" %>
    </div>
    <div class="navbar-button">
      <ul class="navbar-right">
        <li class="nav-item list-inline-item">
            <%= link_to '検索', '#', class: "nav-link" %>
        </li>

        <li class="nav-item list-inline-item">
            <%= link_to '投稿', new_post_path, class: "nav-link" %>
        </li>

        <li class="nav-item list-inline-item">
            <%= link_to 'ユーザー', '#', class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
